# 1. Ignore only items in the root directory
/*

# 2. Keep the gitignore file itself
!/.gitignore

# 3. Whitelist your config folders (Git will enter these and track everything inside)
!/src/
!/include/
!/.vscode/
!/tests/


# files 
!/CMakeLists.txt
!/.neotest-gtest.lua
!/test_pointcloud_publisher.py
!/package.xml
!/.envrc
!/README.md
!/CMakePresets.json
!/depth_camera_world.sdf
!/justfile
